@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 222.2 26% 11.1%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 26% 11.1%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 222.2 46% 4.9%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 217.2 35.6% 8.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 212 94% 59%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 21.6% 34.5%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
    text-wrap: pretty;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Space Grotesk", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Inter", sans-serif;
    margin-block: .5em;
    text-wrap: balance;
  }
}

.navdrop {
  height: calc(100vh - 61px);
  height: calc(100svh - 61px);
}