.crossfade::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3rem;

    background: linear-gradient(to top, hsl(var(--primary)), transparent 35%);
    mask: linear-gradient(to top, hsl(var(--primary)), transparent);
    backdrop-filter: blur(20px);
}