.crossfade::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: min(3rem, 1.3vw);

    background: linear-gradient(to top, hsl(var(--primary)), transparent 35%);
    mask: linear-gradient(to top, hsl(var(--primary)), transparent);
    backdrop-filter: blur(min(1vw, 20px));
}